body{
	background: #f3ccb9;
}
.tm-header{
	background:white;
	border: 2px dashed red;
}
.tm-header::after{
  content:"" ;
  display: block;
  clear: both;
}





.tm-container{
	max-width: 900px;
	margin: 0 auto;
}
.tm-nav ul li{
	display: inline-block;
	margin-top: 20px;
	margin-left: 5px;


}
.tm-nav ul li a{
	padding: 10px 20px;
	text-decoration: none;
	font-family: initial;
	font-style: italic;
	font-size: 125%;
	background: pink;
	border: 3px solid black;
	border-radius: 20px;
	margin-left: 10px;
	margin-right: 10px;

}
.tm-nav{
	float: right;
}
.logo{
	float: left;
}
.lap{
	border-radius: 25px;
	margin-top: 20px;
	border: 3px dashed yellow;
}
.profilepic{
	float: left;
	border-radius: 50px;
	margin-top: 50px;
	margin-left: 50px;
	border: 3px solid yellow;

}
.profile{
	float: right;
	width: 40%;
	border: 2px solid black;
	margin-right: 250px;
	padding-left:50px;
	padding-right:50px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 50px;
	border-radius: 20px;
	background:linear-gradient(to right,#40acea,#4045ea);

}
.tm-section{
	border: 2px solid yellow;
	height: 500px;
	background-image: url('background.html.jpg');
	margin-top: 25px;
}
.tm-footer{
	text-align: center;
	font-style: italic;
	border: 3px dashed red;
	margin-top: 20px;
	background: linear-gradient(to right,#a2ea40,#5740ea);

}
.tm-nav ul li a:hover{
	color: orange;

}
.acad{
	text-align: center;
}
.acad-body{
	background-image: url('acad.html.jpg');
	background-size: cover;
}
.achievements-body{
	background-image: url('achievements.html.jpg');
	background-size: cover;
}
.achievements{
	text-align: center;
}
.contact-body{
	background-image: url('contact.html.jpg');
	background-size: cover;
}
.contact{
	text-align: center;
}
.acad-section ul li{
	padding-top: 20px;
	padding-bottom: 20px;
}
.achievements-section ul li{
	padding-top: 20px;
	padding-bottom: 20px;
}
.contact-section ul li{
	padding-top: 20px;
	padding-bottom: 20px;
}
.acad-footer{
	margin-top: 150px;
	font-size: 150%;
	text-align: center;
}
.achievements-footer{
	margin-top: 150px;
	font-size: 150%;
	text-align: center;
}
.contact-footer{
	margin-top: 190px;
	font-size: 150%;
	text-align: center;
}